.table{
    .cellWrapper{
        display: flex;
        align-items: center;

        .image{
            width: 32px;
            height: 32px;
            margin-right: 10px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .status{
        padding:5px;
        border-radius: 5px;

        &.Approved{
            color: green;
            background-color: rgba(0, 140, 0, 0.15);
        }

        &.Pending{
            color: goldenrod;
            background-color: rgba(190,190, 0, 0.15);
        }
    }
}